:root {
    --primary-color:#C01327;
    --second-color:#F5F0EC;
}
/* 
C01327
1B1A28
2E3140
86858B
F5F0EC */

body{
    font-family: 'Roboto', sans-serif;
    min-height: 2000px;
    background-color: #F5F0EC;
}

/* personalizações para os card de ofertas */
.card-oferta .card-title{
    font-size: 16px;
}
.card-oferta .btn-outline-dark{
    border-width: 3px;
}
.card-price{
    color:var(--primary-color);
}

/*linhas*/
.linhas-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    background-color: white;
    margin: 0px;
    padding: 15px 0px;
}
.linhas-list > li .card-linha-title{
    text-align: center;
}
.linhas-list .card-linha{
    border-radius:150px;
    width: 150px;
    margin: 15px;
    height: 150px;
    background-color: #fff;
    box-shadow: 2px 2px 10px #ccc;
}